@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

html {
    background-color: #08090B;
    font-family: Inter, sans-serif;
}

#app {
    max-width: 1920px;
    margin: 0 auto;
}
